body {
  margin-top: 100px;
  background-color: #ffdde1;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0;
  background: url("images/image.png") repeat;
  background-size: cover;
  font-size: 35px;
  color: #FF1B6D;
  height: 100vh;
  position: fixed;
  width: 100%;
  font-family: 'Noto Serif', serif;
}
.hh {
  -webkit-text-stroke: 0.5px #885A3E;
  font-weight: 900;
  font-size: 45px;
  margin: 0;
  text-shadow: 0 4px 8.7px rgba(0, 0, 0, 0.42);
}
.pp {
  -webkit-text-stroke: 1px #885A3E;
  font-size: 30px;
  color: #FFDA15;
  font-weight: 800;
  margin: 0;
  text-shadow: 0 4px 8.7px rgba(0, 0, 0, 0.42);
}

body .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.Mainprompt {
  white-space: nowrap;
}

.image {
  height: calc(100vh - 500px);
  position: relative;
  z-index: 1;
}

.image--pos-right {
  top: 0;
  bottom: 0;
  right: 0;
  left: 10px;
  z-index: 0;
}

.image--pos-left {
  top: 0;
  bottom: 0;
  right: 0;
  left: -80px;
  z-index: 0;
}

.text {
  height: 220px;
  text-shadow: 0 4px 8.7px rgba(0, 0, 0, 0.42);
}

.buttons button {
  background-color: #EED032;
  color: #F9F9F9;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  margin: 10px;
  font-size: 26px;
  cursor: pointer;
  position: relative;
  font-family: serif; /* Change to a romantic cursive font */
}

.buttons button:hover {
  background-color: #ecc609;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#no-button {
}

.hidden-message {
  display: none;
  margin-top: 20px;
}

.button {
  font-family: "Courier New", Courier, monospace;
}

@media (min-width: 576px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .pp {
    font-size: 40px;
  }

  .hh {
    font-size: 60px;
  }
}
